<ion-header>
  <ion-toolbar>
    <ion-title>Escolha a mesa</ion-title>
  </ion-toolbar>
</ion-header>
<!--vai ter que mostrar as mesas
O ususário não vai poder deletar
-->
<ion-content>
  <ion-list *ngIf="!products.length">
    <ion-item *ngFor="let item of [0, 1, 2]">
      <ion-avatar slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-avatar>
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item-sliding *ngFor="let product of products">
      <ion-item button [routerLink]="['/horario', product.id]">
        <ion-avatar slot="start">
          <img [src]="product.picture">
        </ion-avatar>

        <ion-label>
          {{ product.name }}
          <p>{{ product.description }}</p>
          <p>{{ product.createdAt | date: 'short' }}</p>
        </ion-label>

        <ion-note color="primary" slot="end" *ngIf="product.price">{{ product.price | currency: 'BRL' }}</ion-note>
      </ion-item>

    </ion-item-sliding>
  </ion-list>
</ion-content>

